{{!< default}}
{{! The main content area on the homepage }}
<main class="content" role="main">
  {{#if posts}}
    {{!! Each post will be output using this markup }}
    {{#foreach posts}}
      <article class="{{post_class}}">
        <header class="post-header">
          <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
          <p align="left">{{excerpt}}&hellip; <a class="read-more" href="{{url}}">&raquo;</a></p>
          <span class="post-meta" style="font-size:14px; text-align:left;">
            By {{#if author.website}}<a href="{{author.website}}">{{/if}}<i>{{author}}</i>{{#if author.website}}</a>{{/if}} on <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>.
          </span>
	  <p style="font-size:12px">{{tags prefix="Tags: "}}<p>
<hr>
        </section>
      </article>
    {{/foreach}}
    {{!! After all the posts, we have the previous/next pagination links.}}
    {{pagination}}
  {{else}}
    No posts.
  {{/if}}
</main>
